<% title "Tasks" %>
<h2>Search Tasks</h2>
<%= form_tag tasks_path, :method => 'get' do %>
	<%= text_field_tag :query, params[:query] %>
	<%= submit_tag "Search", :name => nil %>
<% end %>
<br>
<hr />
<h2>Rails Cast 29 group_by_month</h2>
<% @task_months.keys.sort.each do |month| %>
<h2><%= month.strftime('%B %Y') %></h2>
	<% for task in @task_months[month] %>
		<p><strong><%= link_to task.name, task_url(task.id) %></strong>
		<%= task.due_at.to_s(:due_time) %>
		<%= link_to "edit", edit_task_url(task.id) %>
	</p>
	<% end %>
<% end %>
<br>
<hr />

<table>
	<theader><strong>Rails Cast 28 in_groups_of(4) method</strong></theader>
	<!-- RAILSCAST 28 IN GROUPS OF method  -->
<% @tasks.in_groups_of(4, false) do |row_tasks| %>
	<tr>
		<% for task in row_tasks %>
			<td><%= task.name %></td>
		<% end %>
	</tr>
<% end %>
</table>
<p><%= link_to 'New Task', new_task_path %></p>